<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="red()">
    redd
  </ion-button>

  <ion-button (click)="green()">
    green
  </ion-button>

  <ion-button (click)="blue()">
    blue
  </ion-button>

  <ion-button (click)="add()">
    add
  </ion-button>

  <ion-button (click)="remove()">
    remove
  </ion-button>

  <ion-button (click)="update()">
    update
  </ion-button>

  <ion-button (click)="get()">
    get
  </ion-button>

  <ion-button (click)="setChannel()">
    setchannel
  </ion-button>

  <ion-button (click)="addMh()">
    add mh
  </ion-button>

  <ion-button (click)="removeMh()">
    remove mh
  </ion-button>

  <ion-button (click)="updateMh()">
    update mh
  </ion-button>

  <ion-button (click)="getMh()">
    get mh
  </ion-button>

  <ion-button (click)="setChannelMh()">
    setchannel mh
  </ion-button>

  <ion-button (click)="getPositions()">
    getPositions mh
  </ion-button>

  <ion-button (click)="setPosition()">
    setPosition mh
  </ion-button>

  <ion-button (click)="goHome()">
    goHome mh
  </ion-button>

  <ion-button (click)="setHome()">
    setHome mh
  </ion-button>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
