<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-title>
          Stage
        </ion-title>
      </ion-col>
      <ion-col >
        <ion-button *ngFor="let mh of mhs; let i = index" (click)="activateMh(getMhById(mh.mhId), true)" [ngClass]="activeMh&&activeMh.id === mh.mhId ? 'buttonActive': ''" class="{{'mh'+i%7}}" >
          <div>{{mh.name}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="setHome(activeMh)">
          {{ activeMh ? "set Home" : "Home" }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #stage class="background">
  <ion-fab slot="fixed" *ngFor="let mh of mhs; let i = index" class="mh" id={{mh.mhId}} [ngStyle]="{'height.px': getDotSize(), 'width.px': getDotSize(), 'margin-left.px': getDotX(mhService.getX(mh.mhId)), 'margin-top.px': getDotY(mhService.getY(mh.mhId))}">
    <ion-fab-button (click)="activateDot($event)" class="{{'mh'+i}}">
      <div *ngIf="activeMh&&activeMh.id === mh.mhId;then active else non_active"></div>
      <ng-template #active><ion-icon name="radio-button-on"></ion-icon></ng-template>
      <ng-template #non_active><ion-icon name="radio-button-off"></ion-icon></ng-template>
    </ion-fab-button>
  </ion-fab>
</ion-content>
