<ion-header #header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-title>
          Stage
        </ion-title>
      </ion-col>
      <ion-col >
        <ion-button *ngFor="let mh of mhs; let i = index" (click)="activateMh(getMhById(mh.mhId), true)" [ngClass]="activeMh&&activeMh.id === mh.mhId ? 'buttonActive': ''" class="{{'mh'+i%7}}" >
          <div>{{mh.name}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="setHome()" *ngIf="activeMh">
          set Home
        </ion-button>
        <ion-button (click)="home()">
          Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #stage class="background">
  <ion-fab slot="fixed" *ngFor="let mh of mhs; let i = index" class="mh" id={{mh.mhId}} [ngStyle]="{'height.px': getDotSize(), 'width.px': getDotSize(), 'margin-left.px': getDotX(mhService.getX(mh.mhId)), 'margin-top.px': getDotY(mhService.getY(mh.mhId))}">
    <ion-fab-button (click)="activateDot($event)" class="{{'mh'+i}}">
      <div *ngIf="activeMh&&activeMh.id === mh.mhId;then active else non_active"></div>
      <ng-template #active><ion-icon name="radio-button-on"></ion-icon></ng-template>
      <ng-template #non_active><ion-icon name="radio-button-off"></ion-icon></ng-template>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="sideMenu" *ngIf="activeMh">
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content>
      <ion-row>

        <!--<ion-col>
          <ngx-slider [(value)]="minValue"
                [(highValue)]="maxValue"
                [options]="options"
                (userChangeStart)="onUserChangeStart($event)"
                (userChange)="onUserChange($event)"
                (userChangeEnd)="onUserChangeEnd($event)">
          </ngx-slider>
          <p>Zoom</p>
        </ion-col> -->
        <ion-col>
          <ngx-slider [value]="mhService.getHeight(activeMh.id)" [options]="{floor: 0, ceil: 500, vertical: true}" (userChange)="mhService.setHeight(activeMh.id, $event.value)"></ngx-slider>
          <p>Höhe (cm)</p>
          <!-- <span> -->
            <ion-button (click)="mhService.setHeight(activeMh.id, 0)">Boden</ion-button>
            <ion-button (click)="mhService.setHeight(activeMh.id, 120)">1,2m</ion-button>
          <!-- </span> -->
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
