<ion-header #header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-title>
          {{isPreset?'Presets':'Stage'}}
        </ion-title>
      </ion-col>
      <ion-col >
        <ion-button *ngFor="let mh of mhs; let i = index" (click)="activateMh(getMhById(mh.mhId), true)" [ngClass]="!mhService.isDisabled(mh.mhId)&&activeMh&&activeMh.id === mh.mhId ? 'buttonActive': ''" class="{{'mh'+i%7}}" [ngClass]="isPreset && mhService.isDisabled(mh.mhId) ? 'disabled' : ''">
          <div>{{mh.name}}</div>
        </ion-button>
      </ion-col>
      <ng-content></ng-content>
      <ion-col size="auto">
        <ion-button (click)="mhService.setHome(activeMh.id)" *ngIf="activeMh&&showMenu&&!isPreset">
          set Home
        </ion-button>
        <ion-button (click)="mhService.home()" *ngIf="showMenu&&!isPreset">
          Home
        </ion-button>
        <ion-button (click)="showMenu=!showMenu">
          <div *ngIf="showMenu;then active else non_active" ></div>
          <ng-template #active><ion-icon slot="icon-only"name="arrow-down"></ion-icon></ng-template>
          <ng-template #non_active><ion-icon slot="icon-only" name="menu"></ion-icon></ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #stage class="background">
  <ion-fab slot="fixed" *ngFor="let mh of mhs; let i = index" class="mh" id={{mh.mhId}} [ngStyle]="{'height.px': getDotSize(), 'width.px': getDotSize(), 'margin-left.px': getDotX(mhService.getX(mh.mhId)), 'margin-top.px': getDotY(mhService.getY(mh.mhId))}">
    <ion-fab-button (click)="activateDot($event)" class="{{'mh'+i}}" [ngClass]="isPreset && mhService.isDisabled(mh.mhId) ? 'disabled' : ''">
      <div *ngIf="activeMh&&activeMh.id === mh.mhId;then active else non_active"></div>
      <ng-template #active><ion-icon name="radio-button-on"></ion-icon></ng-template>
      <ng-template #non_active><ion-icon name="radio-button-off"></ion-icon></ng-template>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="sideMenu" *ngIf="activeMh&&showMenu">  
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ngx-slider [value]="mhService.getZoom(activeMh.id)" [options]="{floor: 0, ceil: 255, vertical: true, disabled: isPreset&&!isLive}" (userChange)="mhService.setZoom(activeMh.id, $event.value)"></ngx-slider>
          <p>Zoom<p>
            <ion-button (click)="mhService.setZoom(activeMh.id, 255)" [disabled]="isPreset&&!isLive">max</ion-button>
            <ion-button (click)="mhService.setZoom(activeMh.id, 0)" [disabled]="isPreset&&!isLive">min</ion-button>
        </ion-col>
        <ion-col>
          <ngx-slider [value]="mhService.getHeight(activeMh.id)" [options]="{floor: 0, ceil: 500, vertical: true, disabled: isPreset&&!isLive}" (userChange)="mhService.setHeight(activeMh.id, $event.value)"></ngx-slider>
          <p>Höhe (cm)</p>
            <ion-button (click)="mhService.setHeight(activeMh.id, 120)" [disabled]="isPreset&&!isLive">1,2m</ion-button>
            <ion-button (click)="mhService.setHeight(activeMh.id, 0)" [disabled]="isPreset&&!isLive">Boden</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
