<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>

        <ion-col>
          <ion-tab-button tab="stage" href="/tabs/stage">
            <ion-icon aria-hidden="true" name="easel"></ion-icon>
            <ion-label>Stage</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col>
          <ion-tab-button tab="presets" href="/tabs/presets">
            <ion-icon aria-hidden="true" name="grid"></ion-icon>
            <ion-label>Presets</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col>
          <ion-tab-button tab="configure" href="/tabs/configure">
            <ion-icon aria-hidden="true" name="cog"></ion-icon>
            <ion-label>Configure</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col class="menu" size="auto">

          <ion-menu-toggle autoHide="true" menu="sidemenu">
            <ion-tab-button>
              <ion-icon aria-hidden="true" name="menu"></ion-icon>
              <ion-label>Menu</ion-label>
            </ion-tab-button>
          </ion-menu-toggle>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-tab-bar>
</ion-tabs>