ion-text {
    display: block;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

app-confirm {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: block;
    display: flex;
    width: 100%;
    justify-content: center;
}

ion-button {
    padding: 5px;
}